* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  font-family: "poppins", sans-serif;
  font-weight: 100;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

:root {
  --color-primary: #5a5858;
  --color-primary-dark: #323234;
  --dark-grey: #282828;
  --blue: #345ff5;
  --dark-blue: #0529a8;
  --white: #ffffff;
  --grey: #d9d9d9;
}
